* {
    font-family: 'Roboto', sans-serif;
}

.nav a {
    text-decoration: none;
    color: black;
}

.nav a::after {
    content: "---";
    margin-left: 10px;
    margin-right: 10px;
}

.nav a:last-child::after {
    content: "";
}

.stickers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.sticker {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
    display: block;
}

.verificar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.password {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.ingresar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}